<!doctype html>

<center>
  <br> <br> <br> <br> <br> <br> <br> <br>
<h2>Welcome to Fwitter!</h2>
<p>sign in or signup below:</p>

  <% if logged_in? %>

    <a href="/tweets/new"> Create Tweet </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>
    
    <h2>Don't forget to <strong>yield</strong> your views!</h2>

  <% else %>
    <a href="/signup">Sign Up</a> |
    <a href="/users/login"> Sign In </a>
  
  <%end %>
</center>